---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBalance","params":["Fkuy7uE1LwbrY13jft6F74YYfT8Qyzk5JLFnuY9u1Jkt"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119613581},"value":2039280},"id":1}

        '
  recorded_at: Mon, 21 Feb 2022 22:04:54 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"getTokenAccountBalance","params":["Fkuy7uE1LwbrY13jft6F74YYfT8Qyzk5JLFnuY9u1Jkt"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '48'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119613582},"value":{"amount":"1250000000","decimals":9,"uiAmount":1.25,"uiAmountString":"1.25"}},"id":2}

        '
  recorded_at: Mon, 21 Feb 2022 22:04:55 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"getRecentBlockhash","params":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '47'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119613588},"value":{"blockhash":"AmNg2LYgQ3bBggCnvZY8w4BLBA2uM65gmpapKZoHenmQ","feeCalculator":{"lamportsPerSignature":5000}}},"id":3}

        '
  recorded_at: Mon, 21 Feb 2022 22:04:57 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":4,"method":"sendTransaction","params":["AvsqkTz4I87P9XZnI/hu+G/+JhbAni8BMM3ns+AKmt9FUXM+/fY5AHcTSXBAtXx6DzqjLsKjMiuu3FRmrVd9dQbHZ4WHJG3J7p8bksC37tBEPXSmiLiqV7lEKUmunDS5XBc2RfnX9kG68y8+rs6uB7k3eqvDFj6PArWQoGv3rR4NAgECBiUvcUdFZEjMQb+U00mBLW6d1IR/gubYp6matfyBBZqtPukCV/2E1+c9iGgxmOraUQmtf9yFjqqPReXaRXgZdyDbQ3t9Pfbhj359unD+/SfKbp8BlZBmjY9/IrC0XDYuVYaXoKK34Sp1LS+9/yN/uUCMtA4fByJKwVi1gIWssYep+H1b2nth8GQDYuXTxPwEURWwqaG/t1IiPIIn/bs9dJ4G3fbh12Whk9nL4UbO63msHLSF7V9bN5E6jPWFfv8AqZEXPlOK/6XYgpZgt8nZnrO/eAYaSByakNMMp00Q8i7rAQUEAgQDAQoMgHyBSgAAAAAJ",{"encoding":"base64"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '46'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":"62Fj1NUJu1eNzJ7kF7kZFQpWHpWaHFmB6pV7RRSqDKhCRuucUXgbr1qsR9KfC6vrBVUiiXyUxBDCshmZiPn68WBf","id":4}

        '
  recorded_at: Mon, 21 Feb 2022 22:05:00 GMT
recorded_with: VCR 6.0.0
