---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBalance","params":["5EaMQFYH31VjFUmN85tX9YbuX89dW7vVSe221GDZ8Z6f"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119563820},"value":1000000000},"id":1}

        '
  recorded_at: Mon, 21 Feb 2022 15:39:08 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":2,"method":"getRecentBlockhash","params":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '48'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119563821},"value":{"blockhash":"9gaVMszkUALJreXv85ZXf2QaJuEB5xars2NZs4M9yyBn","feeCalculator":{"lamportsPerSignature":5000}}},"id":2}

        '
  recorded_at: Mon, 21 Feb 2022 15:39:09 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":3,"method":"sendTransaction","params":["Au8pj8JwbTNU+4gv+/r4b76n2vTfTVkd6Zq9OWDAGrl0+iDAEPVJB44OZbFdEpUtdpPB08V+8gv5iNEkpp4Z+Q6ySUeV0LE1J4S20lDLE3DYmmEBtcu/+N04QKeFtAo06HvvvcjI6hz4bqWZ9C4RNe7e2LewOuhjDeVqF3NSTkcPAgABAyUvcUdFZEjMQb+U00mBLW6d1IR/gubYp6matfyBBZqtPukCV/2E1+c9iGgxmOraUQmtf9yFjqqPReXaRXgZdyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIEBA1fNlJNUTqkqNK0dzTsGYy0/al93JtxMY5FGC/nRAQICAQAMAgAAAADKmjsAAAAA",{"encoding":"base64"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '47'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":"5nLNiT3rVEbrTFUYtm86AnmaEdxvp6UYQrvMEz6p4xTAhx7G93xDDqy47qbnofS5JRx9VQwi7zLP5G2BLCjBhBKs","id":3}

        '
  recorded_at: Mon, 21 Feb 2022 15:39:11 GMT
recorded_with: VCR 6.0.0
