---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlock","params":[119613633]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":98253358,"blockTime":1645481100,"blockhash":"qFrqcFngPSEgHpUs3b8EEf5kSoc8TXFSGTL4mu7NVCT","parentSlot":119613632,"previousBlockhash":"EQQSuP3e2fwBjEjuAB3KeHYeH1PYmXb29tyCUJsp5m5f","rewards":[{"commission":null,"lamports":8080000,"postBalance":34759526760,"pubkey":"5Hmni9BrQHpuTgvGp4FV3URnDKxpfaCri3wfeLwFUJ4Y","rewardType":"Fee"}],"transactions":[{"meta":{"err":null,"fee":5000,"innerInstructions":[],"logMessages":["Program
        8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        consumed 7878 of 200000 compute units","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        success"],"postBalances":[185826977500,23942400,1169280,1141440],"postTokenBalances":[],"preBalances":[185826982500,23942400,1169280,1141440],"preTokenBalances":[],"rewards":[],"status":{"Ok":null}},"transaction":{"message":{"accountKeys":["EevTjv14eGHqsxKvgpastHsuLr9FNPfzkP23wG61pT2U","FLVeVq6cwbtmBfFRdKQ9zJnKNybz25aZEutv6gVQYqkS","SysvarC1ock11111111111111111111111111111111","8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":2,"numRequiredSignatures":1},"instructions":[{"accounts":[0,1,2],"data":"6mJFQAEssWECZ33ewGbTZ7upTuwYwmtzQRMXYTf52PrhWjpHjQ7CL7","programIdIndex":3}],"recentBlockhash":"AmMuypW7ZC5XyPDTewTxjEqLLvMt8wew4TkFEKMaukjS"},"signatures":["3wPnNV94v1sJABZzNaNPYcVc3Pby9e5wT7DsCWApcK1ohM8VpbVxBBGMLSE7jBy2KxS9e6kAd2Tj5P67AvP7LLLv"]}},{"meta":{"err":null,"fee":5000,"innerInstructions":[],"logMessages":["Program
        8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        consumed 8135 of 200000 compute units","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        success","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program
        8tfDNia[...]
