---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlock","params":[120157136]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":98738751,"blockTime":1645741017,"blockhash":"8ebM5F82T3g5wrzgMTBCbFazGfsCcPLiGNAmKLPnKQvE","parentSlot":120157135,"previousBlockhash":"HEhhaEFRSFERW8FxaMRv2eL13pCFY7z6Ayk8BqnyBsqY","rewards":[{"commission":null,"lamports":3432500,"postBalance":287824300387,"pubkey":"EBxhSfAWW2Cfouvj1k242W6U8krZVAxJS47SG8UKb4ch","rewardType":"Fee"}],"transactions":[{"meta":{"err":null,"fee":5000,"innerInstructions":[],"logMessages":["Program
        8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        consumed 1141 of 200000 compute units","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        success","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program
        8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz consumed 2509 of 200000 compute
        units","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz success","Program
      [...]
