---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlock","params":[120143927]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":98726968,"blockTime":1645734718,"blockhash":"2pvwh68RBWMJLiEpQr9ts8cmckKQXPwL9RYMHGjkauUf","parentSlot":120143926,"previousBlockhash":"WEfxBkGUddV9XF2MSvNMP979bGz7SmovMvNqjmo3qoL","rewards":[{"commission":null,"lamports":5047500,"postBalance":450479602691,"pubkey":"2sEQYJKRbFtvxe9M6SRZ79v6tdeNXkbBdHKh7buLxxvq","rewardType":"Fee"}],"transactions":[{"meta":{"err":null,"fee":5000,"innerInstructions":[],"logMessages":["Program
        8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        consumed 7763 of 200000 compute units","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        success"],"postBalances":[154372038000,23942400,1169280,1141440],"postTokenBalances":[],"preBalances":[154372043000,23942400,1169280,1141440],"preTokenBalances":[],"rewards":[],"status":{"Ok":null}},"transaction":{"message":{"accountKeys":["EevTjv14eGHqsxKvgpastHsuLr9FNPfzkP23wG61pT2U","HnMvyH7f4evdCGTS56cPJzH3JEnCDoLKHXBcBA7JZoqS","SysvarC1ock11111111111111111111111111111111","8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":2,"numRequiredSignatures":1},"instructions":[{"accounts":[0,1,2],"data":"6mJFQAEssWECZ33ewGbTZPR66fh4rUgazrJycEH64MmrjmZXtB4WGF","programIdIndex":3}],"recentBlockhash":"6p5fLSNjh2mQegkMoGKiw63Ny8csbsW1p4dPs5xK8AHk"},"signatures":["4wQWW63JvjAVy6pTLJiVFwEY4qSmM2tFmqhnwGSKLpcVPaEhkpUVBGcgkAeh5wDeX6qNc5naUQRbQhprshyxxA49"]}},{"meta":{"err":null,"fee":5000,"innerInstructions":[],"logMessages":["Program
        8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz invoke [1]","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        consumed 12635 of 200000 compute units","Program 8tfDNiaEyrV6Q1U4DEXrEigs9DoDtkugzFbybENEbCDz
        success"],"postBalances":[154372033000,23942400,1169280,1141440],"postTokenBalances":[],"preBalanc[...]
