---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBalance","params":["Fkuy7uE1LwbrY13jft6F74YYfT8Qyzk5JLFnuY9u1Jkt"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '48'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119385029},"value":2039280},"id":1}

        '
  recorded_at: Sun, 20 Feb 2022 15:48:16 GMT
recorded_with: VCR 6.0.0
