---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getTokenAccountsByOwner","params":["5EaMQFYH31VjFUmN85tX9YbuX89dW7vVSe221GDZ8Z6f",{"mint":"HizyfeSmxUSvER7NJuY4yA9YpG2qwUFEvk6Eby7CzTMP"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '20'
      X-Ratelimit-Method-Remaining:
      - '19'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"context":{"slot":119362159},"value":[{"account":{"data":"error:
        data too large for bs58 encoding","executable":false,"lamports":2039280,"owner":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA","rentEpoch":289},"pubkey":"Fkuy7uE1LwbrY13jft6F74YYfT8Qyzk5JLFnuY9u1Jkt"}]},"id":1}

        '
  recorded_at: Sun, 20 Feb 2022 12:34:42 GMT
recorded_with: VCR 6.0.0
